section {
    color: var(--quaternary);
    font-size: clamp(18px, 4vw, 22px);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    section {
        font-size: clamp(14px, 3.5vw, 18px);
    }
}
