body {
    background: linear-gradient(120deg, #6367FF, #6367FF, #8F72FF, #6367FF);
    background-size: 300% 300%;
    animation: gradientMove 8s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
